<a href="https://colab.research.google.com/github/Axelouss/basis-data/blob/main/bab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 "3.1 IDENTITAS\n",
        "\n",
        "Kompetensi:\n",
        "\n",
        "1. Memahami SQL dan perintah DDL.\n",
        "2. Mampu membuat tabel beserta relationship-nya.\n",
        "3. Memahami tipe tabel InnoDB.\n",
        "\n",
        "Topik:\n",
        "\n",
        "· SQL\n",
        "· Membuat Tabel\n",
        "· Constraint Relasi\n",
        "· Nilai Otomatis dan Nilai Default\n",
        "\n",
        "---\n",
        "\n",
        "3.2 TEST AWAL\n",
        "\n",
        "Perintah SQL dasar:\n",
        "\n",
        "1. Membuat database:\n",
        "   ```sql\n",
        "   CREATE DATABASE praktikum;\n",
        "   ```\n",
        "2. Melihat seluruh database:\n",
        "   ```sql\n",
        "   SHOW DATABASES;\n",
        "   ```\n",
        "3. Mengakses database:\n",
        "   ```sql\n",
        "   USE praktikum;\n",
        "   ```\n",
        "4. Menghapus database:\n",
        "   ```sql\n",
        "   DROP DATABASE praktikum;\n",
        "   ```\n",
        "\n",
        "---\n",
        "\n",
        "3.3 SQL\n",
        "\n",
        "SQL diklasifikasikan menjadi 3 bagian:\n",
        "\n",
        "1. DDL (Data Definition Language)\n",
        "   · Mendefinisikan struktur database.\n",
        "   · Perintah: CREATE, ALTER, RENAME, DROP.\n",
        "2. DML (Data Manipulation Language)\n",
        "   · Memanipulasi data dalam tabel.\n",
        "   · Perintah: SELECT, INSERT, UPDATE, DELETE.\n",
        "3. DCL (Data Control Language)\n",
        "   · Mengatur user dan hak akses.\n",
        "   · Perintah: GRANT, REVOKE.\n",
        "\n",
        "---\n",
        "\n",
        "3.4 MEMBUAT TABLE\n",
        "\n",
        "3.4.1 Create Table\n",
        "\n",
        "Contoh:\n",
        "\n",
        "```sql\n",
        "CREATE TABLE Mahasiswa (\n",
        "    NIM CHAR(11),\n",
        "    Nama VARCHAR(40),\n",
        "    Alamat VARCHAR(100)\n",
        ");\n",
        "```\n",
        "\n",
        "3.4.2 Melihat Tabel dan Struktur Tabel\n",
        "\n",
        "· Melihat seluruh tabel:\n",
        "  ```sql\n",
        "  SHOW TABLES;\n",
        "  ```\n",
        "· Melihat struktur tabel:\n",
        "  ```sql\n",
        "  DESC Mahasiswa;\n",
        "  ```\n",
        "\n",
        "---\n",
        "\n",
        "3.5 CONSTRAINT TABLE\n",
        "\n",
        "Constraint digunakan untuk menjaga integritas data. Jenis constraint:\n",
        "\n",
        "· Primary Key\n",
        "· Foreign Key\n",
        "· Unique\n",
        "· Not Null\n",
        "· Check\n",
        "\n",
        "Contoh Penerapan pada Skema Order Entry:\n",
        "\n",
        "1. Buat database:\n",
        "   ```sql\n",
        "   CREATE DATABASE OrderEntry;\n",
        "   USE OrderEntry;\n",
        "   ```\n",
        "2. Buat tabel Vendors dan Customers dengan constraint.\n",
        "\n",
        "---\n",
        "\n",
        "3.6 NILAI OTOMATIS DAN NILAI DEFAULT\n",
        "\n",
        "3.6.1 Auto Increment\n",
        "\n",
        "Digunakan untuk menghasilkan nilai unik secara otomatis.\n",
        "Contoh:\n",
        "\n",
        "```sql\n",
        "CREATE TABLE Mahasiswa2 (\n",
        "    ID INT(5) NOT NULL PRIMARY KEY AUTO_INCREMENT,\n",
        "    NIM CHAR(5) NOT NULL,\n",
        "    Nama_mhs VARCHAR(50),\n",
        "    Jurusan VARCHAR(200),\n",
        "    Fakultas VARCHAR(30)\n",
        ");\n",
        "```\n",
        "\n",
        "3.6.2 Nilai Default\n",
        "\n",
        "Memberikan nilai default jika tidak diisi.\n",
        "Contoh:\n",
        "\n",
        "```sql\n",
        "CREATE TABLE Mkull (\n",
        "    Kode_Mkull INT(5) NOT NULL PRIMARY KEY,\n",
        "    Nama_Mkull VARCHAR(50),\n",
        "    SKS INT(1) DEFAULT 0,\n",
        "    Semester INT(1) DEFAULT 1\n",
        ");\n",
        "```\n",
        "\n",
        "---\n",
        "\n",
        "3.7 TYPE: INNODB DAN XTRADB\n",
        "\n",
        "· InnoDB:\n",
        "  · Mendukung transaksi (commit, rollback, crash recovery).\n",
        "  · Mendukung foreign key.\n",
        "  · Default engine sejak MySQL 5.5.\n",
        "· XtraDB:\n",
        "  · Pengganti InnoDB di MariaDB, lebih stabil.\n",
        "\n",
        "Contoh penggunaan:\n",
        "\n",
        "```sql\n",
        "CREATE TABLE compress (\n",
        "    x INT PRIMARY KEY NOT NULL,\n",
        "    y VARCHAR(50) NULL\n",
        ") ENGINE=InnoDB;\n",
        "```\n",
        "\n",
        "---\n",
        "\n",
        "3.8 TEST AKHIR\n",
        "\n",
        "1. Buat database Penjualan_Barang.\n",
        "2. Buat tabel berdasarkan diagram relationship yang diberikan.\n",
        "3. Buat laporan praktikum dengan format:\n",
        "   · Nama file: PrakDB_Bab3_NIM.odt\n",
        "   · Isi: Source SQL dan screenshot CMD.\n",
        "   · Simpan di folder PrakDB-NIM.\n",
        "\n",
        "---\n",
        "\n",
        "Diagram Relationship (ERD) Penjualan Barang:\n",
        "\n",
        "· Pelanggan\n",
        "  · id_Pelanggan (PK)\n",
        "  · Nama, Alamat, Pekerjaan, No_Ktp, No_telp\n",
        "· Nota_Penjualan\n",
        "  · id_Nota (PK)\n",
        "  · Tgl_Nota\n",
        "  · id_Pelanggan (FK)\n",
        "· Barang\n",
        "  · id_Barang (PK)\n",
        "  · Nama_Barang, Harga, Stok\n",
        "· Detail_Jual\n",
        "  · id_Nota (PK, FK)\n",
        "  · id_Barang (PK, FK)\n",
        "  · Jumlah, Harga\n",
        "\n",
        "---"
      ],
      "metadata": {
        "id": "SV2yhRcP4UuF"
      }
    }
  ]
}