<a href="https://colab.research.google.com/github/Axelouss/basis-data/blob/main/bab4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

üìù Praktikum Basis Data - BAB 4: ALTER, MODIFY, DROP, RENAME (DDL)

üéØ Kompetensi

1. Praktikan memahami penggunaan DDL antara lain alter, modify, drop dan rename.



üìñ Topik Pembahasan ¬∑ Alter, Modify ‚Äì Mengubah struktur tabel
¬∑ Drop, Rename ‚Äì Menghapus dan mengganti nama


---

üß™ TEST AWAL

Berdasarkan skema order entry pada bab 3, jawab pertanyaan berikut:

1. Berikan 1 contoh perintah alter dan modify dalam satu sintaks


2. Berikan 1 contoh penggunaan drop table


3. Berikan 1 contoh penerapan rename table




---

üîß 4.3 ALTER TABLE

Ada empat macam perubahan yang dapat dilakukan terhadap struktur tabel:

1. Merubah Nama Field

Mengganti nama field/kolom menggunakan perintah CHANGE

Sintaks:

ALTER TABLE nama_table
CHANGE nama_field_lama nama_field_baru tipe_data(size);

Contoh:

ALTER TABLE mahasiswa
CHANGE nama nama_mhs CHAR(40);

Hasil Sebelum:

| nim | char(11) | YES |  | NULL |
| nama | varchar(40) | YES | | NULL |
| alamat | varchar(100) | YES | | NULL |

Hasil Sesudah:

| nim | char(11) | YES | | NULL |
| nama_mhs | char(40) | YES | | NULL |
| alamat | varchar(100) | YES | | NULL |


---

2. Merubah Tipe Data

Mengubah tipe data field menggunakan perintah MODIFY

Sintaks:

ALTER TABLE nama_table
MODIFY nama_field tipe_data_baru(size);

Contoh:

ALTER TABLE mahasiswa
MODIFY nim CHAR(11);


---

3. Menambah Field

Menambahkan field baru menggunakan perintah ADD

Sintaks:

ALTER TABLE nama_table
ADD nama_field_baru tipe_data(size);

Contoh:

ALTER TABLE mahasiswa
ADD Fakultas VARCHAR(30);

Hasil:

| nim | char(11) |
| nama_mhs | char(40) |
| alamat | varchar(100) |
| Fakultas | varchar(30) |


---

4. Menghapus Field

Menghapus field menggunakan perintah DROP COLUMN

Sintaks:

ALTER TABLE nama_table
DROP COLUMN nama_field;

Contoh:

ALTER TABLE mahasiswa
DROP COLUMN Fakultas;


---

üóëÔ∏è 4.4 DROP

Menghapus table menggunakan:

Sintaks:

DROP TABLE nama_table;

Contoh:

DROP TABLE mahasiswa2;

Sebelum:

compress  
mahasiswa  
mahasiswa2  
mkull

Sesudah:

compress  
mahasiswa  
mkull


---

üìã 4.5 TEST AKHIR

1. Operasikan Perintah ALTER pada Database "Order Entry"

Untuk NIM ganjil gunakan tabel: customers, orderitems, orders

Operasi yang dilakukan:

¬∑ Perubahan nama field/kolom
¬∑ Perubahan tipe data
¬∑ Penambahan field
¬∑ Penghapusan field

Contoh implementasi:

ALTER TABLE customers
CHANGE cust_contact kontak VARCHAR(50);

ALTER TABLE customers
MODIFY cust_zip INT(10);

ALTER TABLE customers
ADD status_aktif ENUM('Y','N') DEFAULT 'Y';

ALTER TABLE customers
DROP COLUMN cust_email;


---

2. Buat dan Hapus Tabel Contact_Customer

Buat:

CREATE TABLE contact_customer (
    Id_cust VARCHAR(5),
    HP1 VARCHAR(20),
    HP2 VARCHAR(20)
);

Hapus:

DROP TABLE contact_customer;


---

3. Laporan Praktikum

Format laporan:

¬∑ Nama file: PrakDB_Bab4_NIM.odt
¬∑ Isi laporan:
¬∑ Source code SQL
¬∑ Screenshot hasil eksekusi CMD
¬∑ Penyimpanan: folder PrakDB-NIM